html, body, table, tr, td, div {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
	border: 2px solid #778899;
	border-collapse: collapse;
	text-align: center;
	margin: auto;
	margin-top: 24px;
}

table td {
	width: 18px;
	height: 18px;
	line-height: 18px;
	border: 1px solid #778899;
}

table.game-complete td {
	background-color: #F0F0F0
}
	
table:not(.game-complete) td:hover:not(.played) {
    background-color: #AFEEEE;
}

h1 {
    text-align: center;
}

#new-game {
	text-align: center;
	margin-top: 24px;
}

.new-game {
    font-size: 18px;
    font-weight: bold;
	height: 35px;
	width: 150px;
    text-align: center;
}

.status-message {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.error-message {
	color: #CC0000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.win-message {
	color: #339933;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}